<div id="nav-bg">
  <nav id="top-nav">
    <a href="/" id="logo">./ترم-گمشده</a>
    <input type="checkbox" id="menu-icon">
    <label class="menu-label" for="menu-icon"></label>
    <div class="trigger">
      <div class="trigger-child">
        <span class="nav-link"><a href="/2020/">سخنرانی‌ها</a></span>
        <span class="nav-link"><a href="/about/">درباره</a></span>
        <span class="nav-link"><a href="https://missing.csail.mit.edu/" target="_blank">English</a></span>
      </div>
    </div>
  </nav>
</div>
